/**
  * Initialising global styles
*/
@import 'variables';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// TODO:
// set a font face for connection serif here or in the variables partial
:root {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-color;
  font-family: $font-sans-serif;
}
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: $color-green-light;
}

body::-webkit-scrollbar-thumb {
  background: $color-green;
}

::selection {
  background: $color-green;
  color: white;
}

::-moz-selection {
  background: $color-green;
  color: white;
}
