@import '../assets/scss/variables';
@import '../assets/scss/mixins';

.blog {
  margin: 2.6rem 0;

  &__slantedrule {
    border: 1px solid $color-blue-lightest;
    border-radius: 5px;

    &--downwards {
      transform: rotate(2deg);
      margin-bottom: 1rem;
    }
    &--upwards {
      transform: rotate(-2deg);
      margin-top: 1rem;
    }
  }
}
