/* TODO: @QA stage check whether css reset is required
*/
/* body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}  */

/* Noto sans */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

/* @font-face kit by Fonts2u (https://fonts2u.com) */ 
@font-face {
    font-family: "Connection Serif";
    src: url("../fonts/ConnectionSerif.eot") format("eot"),
        url("../fonts/ConnectionSerif.woff") format("woff"),
        url("../fonts/ConnectionSerif.ttf") format("truetype"),
        url("../fonts/ConnectionSerif.svg#ConnectionSerif") format("svg");
    font-weight: normal;
    font-style: normal;
}

:root {
    font-size: 20px;

    /* fonts */
    --font-serif: 'Lora';
    --font-sans-serif: 'Noto Sans';
    --font-pixel: 'Connection Serif';

    --blue-heading: #488ac5;
    --blue-text: #285C7F;
    --greyish-blue: #4d6c85;
    --green: #31a178;
    --light-green: #e3f5eb;
    --link: #006290;
    --transparent-blue: rgba(228,238,245,.93);
    --grey: #f1f4f6;
    --mild-blue: rgba(173, 197, 222, 0.44);

    --light-border: #CCE2F3;
    --heavy-border: rgba(171,202,192,.37);

    /* shadows */
    --text-shadow: 1px 0 0 #1b5bb1, -4px -5px 0 rgba(0,133,255,.04);
    --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --light-box-shadow: 0 36px 35px -10px rgba(0, 94, 138, 0.02),
        12px 22px 28px -12px rgba(0, 64, 97, 0.01),
        0 32px 26px 3px hsla(0, 0%, 52.2%, 0.01),
        0 9px 7px -4px rgba(230, 238, 231, 0.27);
    --text-shadow: 0px 5px 10px #00000014;

    /* gradients */
    --rainbow-green: linear-gradient(rgb(255, 210, 0) 0%, rgb(110, 223, 0) 50%, rgb(0, 223, 187) 100%);
    --rainbow-pink: linear-gradient(rgb(255, 143, 178) 0%, rgb(167, 151, 255) 50%, rgb(0, 229, 255) 100%);
    --rainbow-cherry: linear-gradient(rgb(0, 95, 255) 0%, rgb(146, 0, 255) 50%, rgb(255, 46, 25) 100%);
    --rainbow-orange: linear-gradient(rgb(255, 220, 45) 0%, rgb(255, 150, 22) 50%, rgb(255, 79, 0) 100%);
    --rainbow-aqua: linear-gradient(rgb(25, 201, 255) 0%, rgb(0, 230, 210) 50%, rgb(14, 230, 183) 100%);

    /* spacing */
    --horizontal-spacing: calc(100vw / 12);
    --h-unit: calc(100vw / 12);
    --v-unit: calc(100vh / 12);
}

html {
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: var(--light-green);
}

body::-webkit-scrollbar-thumb {
    background: var(--green);
}

::selection {
    background: var(--green);
    color: white;
}

::-moz-selection {
    background: var(--green);
    color: white;
}