@import '../assets/scss/mixins';
@import '../assets/scss/variables';

.blogs {
  margin-top: 2.6rem;
  display: flex;
  flex-direction: column;

  &__card {
    width: 100%;
    height: calc(2 * (100vh / 12));
    margin-bottom: 1rem;

    @include min-device('desktop') {
      width: calc(50% - 0.5rem);
    }
  }

  @include min-device('desktop') {
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
