@import '../../assets/scss/variables';

.intro {
  display: grid;
  justify-items: center;
  font-family: $font-sans-serif;
  grid-row-gap: 1.1rem;

  p {
    color: $color-blue-heavy;
    font-size: 0.9rem;
    text-align: center;
    margin: 0;
  }

  &__author {
    span {
      margin-left: 0.4rem;
      // TODO: maybe add a transition to the wave on load?
    }
  }

  &__details {
    font-size: 1.1rem;
  }

  &__location {
    display: flex;
    align-items: center;

    h3 {
      font-weight: 500;
      margin-left: 0.3rem;
    }
  }

  &__socials {
    margin-top: 0.3rem;
    display: flex;
    justify-content: center;
    font-size: 1.3rem;

    > * {
      margin: 0 0.7rem;
    }
  }
}
