@import '../../assets/scss/mixins';

.blogs {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__heading {
    margin-bottom: 1.2rem;

    span {
      margin-left: 0.4rem;
    }
  }

  &__card {
    width: 100%;
    margin-bottom: 1rem;
  }

  @include min-device {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
  }
}
