@import '../../assets/scss/mixins';

.blogs {
  display: grid;
  justify-items: center;
  grid-gap: 1.2rem;

  &__heading {
    span {
      margin-left: 0.4rem;
    }
  }

  @include min-device {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
  }
}
